@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

h1 {
  color: white;
  font-size: 7rem;
  border-bottom: 0.5rem inset #f66;
}

img {
  width: 10rem;
  height: 10rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.die-container {
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border: 0.3rem inset#CC5151;
  border-radius: 20px;
  padding: 5px;
}

.dice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 0.19rem solid black;
  border-radius: 1.15rem;
  background-color: white;
  color: black;
}

button:hover {
  background-color: darkgray;
  color: white;
}

button:active {
  background-color: #282c34;
  color: white;
}
